Práctica sobre analisis de datos, usando Pandas, y cómputo distribuido con Dask

Ejercicio 1.

• Descargar del siguiente link el conjunto de datos: Quien es quien en el precio de los productos.

https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-01.csv

Para hacerlo pueen usar el comando wget o bien con Pandas, tal como lo hicimos en las clases anteriores.

In [1]:
import pandas as pd
import psutil, os
import numpy as np

In [3]:
url ="https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-01.csv"

Ejercicio 2.
 
• Visualizar el dataframe para ver su estructura. Utilizar el método head para realizar este punto.

In [ ]:
df = pd.read_csv(url)
df.head()

In [ ]:
df.shape

Ejercicio 3.
 
• a) Calcular el promedio de las tarifas de la columna fare_amount

• b) Determinar cual es la tarifa más alta y cual la más baja

• c) Graficar las tarifas versus payment_type

In [ ]:
df2= pd.read_csv(url)
df2.head()
df2["fare_amount"].fillna(df2["fare_amount"].mean())

In [ ]:
df2['fare_amount']=pd.to_numeric(df['fare_amount'])
print("El Valor maximo es: ", df2['fare_amount'].max())
print("El Valor minimo es: ", df2['fare_amount'].min())

In [5]:
import matplotlib.pyplot as plt

In [ ]:
df.plot(kind='scatter',x='fare_amount',y='payment_type')

Ejercicio 4.

• Aplicar un modelo de regresión lineal al producto elegido, utilizando los siguientes valores para alpha = 2.0  y beta = 1.1 su modelo de regresión deber ser entonces: 2.0+1.1*x+e

In [ ]:
d=pd.read_csv(url)

In [14]:
d['fare_amount']=df2['fare_amount']

In [ ]:
x=2.0+1.1*np.random.rand(100)
x

In [ ]:
e=0+1.1*np.random.rand(100)
e

In [ ]:
y_pred=2.0+1.1*x
y_actual=2.0+1.1*x+e
y_pred

In [52]:
x_list=x.tolist()
y_pred_list=y_pred.tolist()
y_actual_list=y_actual.tolist()

In [ ]:
df3=pd.DataFrame(
    {
        'x':x_list,
        'y_actual':y_actual_list,
        'y_pred':y_pred_list
    }
)
df3.head()

Ejercicio 5.

• Extraer la columna fare_amount del dataset, pueden ser los precios, por ejemplo. Dividir  la columna en 10 chunks (trozos). Realizar  la suma de estos trozos con Dask, de tal manera que obtengamos un procesamiento paralelo. Medir el tiempo que tardó este procesamiento de la suma y obtener el diagrama de procesamiento.

In [7]:
import dask.array as da

In [15]:
d['fare_amount']=df2['fare_amount']

In [ ]:
%%time
num_chunks=10
chunks_tam=len(d)//num_chunks
res=0

In [ ]:
%%time
  for k in range(num_chunks):
    offset=k*chunks_tam
    d_chunk=d[offset:offset+chunks_tam]
    res+=d_chunk.sum()

In [ ]:
res

In [ ]:
%time result_a_dask=a_dask.sum()
%time result_a_dask.compute()

In [ ]:
result_a_dask.visualize(rankdir='LR')